* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    
}

body {
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    background-color: rgb(245, 245, 245, .8);
    padding: 0 0.5rem ;
    gap: 3rem;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav img {
    width: 2rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    
}

nav ul a {
    color: #000;
    font-weight: bold;
    line-height: 2.5rem;
    padding: 0 1rem;
    display: flex;
    position: relative;
}

nav ul a:hover{
    background-color: rgb(0, 0, 0, .5);
    color:white;
}

header {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 8rem;
    padding-bottom: 7rem;
    align-items: center;
    gap: 2rem;
    background: url("../images/home/header-bg.jpg");
    color: white;
    background-size: cover;
}

header h1 {
    font-size: 50px;
}

header img {
    width: 5rem;
}

header p {
    font-size: 1.5rem;
}

header input {
    width: 40rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255, 0.8);
    border: none;
    color: black;
}

.main-content {
    padding: 3rem ;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin: 5rem 0;
}

.main-content div {
    width: 400px;
    height: 250px;
    border-radius: 2rem;
    box-shadow: 0 0 5px #000;
    position: relative;
    cursor: pointer;
    transition: all .3s;
}

.main-content div:hover {
    box-shadow: 0 0 11px #000;
}

.label {
    position: absolute;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

.label p {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 25px;
    font-weight: bolder;
}

.main-content .nature {
    background: url("../images/home/nat.jpg");
    background-size: cover;
}

.main-content .food {
    background: url("../images/home/food.jpg");
    background-size: cover;
    background-position: center;
}

.main-content .animals {
    background: url("../images/home/anm.jpg");
    background-size: cover;
}

.main-content .arch {
    background: url("../images/home/arch.jpg");
    background-size: cover;
}

.main-content .his {
    background: url("../images/home/batuhan-dogan-qJq6JK-tC_U-unsplash\(2\).jpg");
    background-size: cover;
    background-position: bottom;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .9rem;
    justify-content: center;
    padding: 1rem;
    padding-top: 1.5rem;
    background-color: #333;
    color: white;
}

footer .social {
    display: flex;
    padding-top: .6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top: 1px solid rgb(255, 255, 255, .3);
    gap: 1rem;
}

footer .social i {
    cursor: pointer;
    transition: all .3s;
}

footer .social i:hover {
    color: #ffb142;
}

/* ---------------------------- Pages ----------------------------- */
.title {
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: .7;
}

.page-main-content {
    padding: 2rem 5rem;
    gap: 2rem;
    justify-content: center;
    margin: 5rem 0;
    flex-flow: wrap;
	display: flex;
}

.page-main-content a {
    flex: auto;
    display: flex;
}

.page-main-content div {
    width: 300px;
    height: 200px;
    border-radius: 2rem;
    box-shadow: 0 0 9px #000;
    position: relative;
    cursor: zoom-in;
    flex: auto;
}

.page-main-content .info {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    color: white;
    background: rgb(0, 0, 0, .8);
    font-size: 13px;
    opacity: 0;
    transition: all .5s;
}

.page-main-content div:hover .info {
    opacity: 1;
}


/* ---------------------------- CSS for mobile ----------------------------- */
@media only screen and (max-width: 730px) {
    nav {
        display: none;
    }

    header input {
        width: 30rem;
    }
  }

@media only screen and (max-width: 600px) {
    header p {
        font-size: 15px;
    }
    
    header input {
        width: 20rem;
        font-size: 15px;
    }
    
    .title {
        padding: 20px;
    }
    
    .title h1 {
        font-size: 40px;
    }

    .title p {
        font-size: 15px;
    }

    .title h2 {
        font-size: 20px;
    }
    
    .main-content div {
        width: 310px;
    }
}




/* ---------------------------- Nature ----------------------------- */

.nature-header {
    background-color: rgb(0, 0, 0);
    padding: 10rem 0;
    align-items: center;
    background: url("../images/nature/nature-bg.jpg");
    color: white;
    background-size: cover;
    background-position: center;
    position: relative;
}

.page-main-content .nature1 {
    background: url("../images/nature/daniel-sanchez-RV1We1RYc60-unsplash.jpg");
    background-size: cover;
}

.page-main-content .nature2 {
    background: url("../images/nature/david-gor-97tNAI9u8M0-unsplash.jpg");
    background-size: cover;
}

.page-main-content .nature3 {
    background: url("../images/nature/josh-hild-LBFBgN6f3vU-unsplash.jpg");
    background-size: cover;
}

.page-main-content .nature4 {
    background: url("../images/nature/nicola-pavan-r1cgY83L8-w-unsplash.jpg");
    background-size: cover;
    background-position: bottom;
}

.page-main-content .nature5 {
    background: url("../images/nature/sajad-nori-7SkQDzHbE3s-unsplash.jpg");
    background-size: cover;
}

.page-main-content .nature6 {
    background: url("../images/nature/tingfeng-xia-Mio9o6g2Nxc-unsplash.jpg");
    background-size: cover;
    background-position: bottom;
}

.page-main-content .nature7 {
    background: url("../images/nature/zac-porter-XLmjl7VCbeU-unsplash.jpg");
    background-size: cover;
    background-position: bottom;
}




/* ---------------------------- Food & Drinks -----------------------------*/ 
.food-header {
    background-color: rgb(0, 0, 0);
    padding: 10rem 0;
    align-items: center;
    background: url("../images/food/food-bg.jpg");
    color: white;
    background-size: cover;
    background-position: center;
    position: relative;
}

.page-main-content .food1 {
    background: url("../images/food/ali-choubin-I0B_QnY2VOQ-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .food2 {
    background: url("../images/food/eugene-chystiakov-qyCSVCqDI9E-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .food3 {
    background: url("../images/food/filipp-romanovski-POTv2nUfBqw-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .food4 {
    background: url("../images/food/keyur-tandel-WeH8zBCZVbc-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .food5 {
    background: url("../images/food/kim-ick-5v3WRmSq3Xg-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .food6 {
    background: url("../images/food/or-hakim-3BytYjNwfog-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .food7 {
    background: url("../images/food/vd-photography-HFjclWnOHrI-unsplash.jpg");
    background-size: cover;
    background-position: center;
}




/* ---------------------------- Animals -----------------------------*/ 

.animals-header {
    background-color: rgb(0, 0, 0);
    padding: 10rem 0;
    align-items: center;
    background: url("../images/animals/animal-bg.jpg");
    color: white;
    background-size: cover;
    background-position: center;
    position: relative;
}

.page-main-content .animals1 {
    background: url("../images/animals/allyson-beaucourt-K8Cd5ya9Tp4-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .animals2 {
    background: url("../images/animals/jonny-gios-6DO3cpXjFrc-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .animals3 {
    background: url("../images/animals/lance-reis-hZgs5xIL318-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .animals4 {
    background: url("../images/animals/megat-irfan-Lw4_w3zt5lg-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .animals5 {
    background: url("../images/animals/robbin-grimm-Ly84kjWTcfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .animals6 {
    background: url("../images/animals/waldemar-brandt-_62bftUAKyY-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .animals7 {
    background: url("../images/animals/yves-cedric-schulze-X00krxvBwUU-unsplash.jpg");
    background-size: cover;
    background-position: center;
}




/* ---------------------------- Architecture -----------------------------*/ 

.arch-header {
    background-color: rgb(0, 0, 0);
    padding: 10rem 0;
    align-items: center;
    background: url("../images/architecture/arch-bg.jpg");
    color: white;
    background-size: cover;
    background-position: center;
    position: relative;
}

.page-main-content .arch1 {
    background: url("../images/architecture/akbar-nemati-k_j7yMyaopQ-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .arch2 {
    background: url("../images/architecture/giorgio-manenti-RMmM2qAbNdc-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .arch3 {
    background: url("../images/architecture/job-savelsberg-zdMXvYfWX1M-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .arch4 {
    background: url("../images/architecture/paulina-milde-jachowska-G4wYiDf5JkI-unsplash.jpg");
    background-size: cover;
    background-position: top;
}

.page-main-content .arch5 {
    background: url("../images/architecture/puru-raj-p6aRg1GdtmY-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .arch6 {
    background: url("../images/architecture/simon-maisch-4p6RuyasS8Y-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .arch7 {
    background: url("../images/architecture/wan-jun-1NJdZpNR8V8-unsplash.jpg");
    background-size: cover;
    background-position: center;
}




/* ---------------------------- Architecture -----------------------------*/ 

.history-header {
    background-color: rgb(0, 0, 0);
    padding: 10rem 0;
    align-items: center;
    background: url("../images/history/history-bg.jpg");
    color: white;
    background-size: cover;
    background-position: center;
    position: relative;
}

.page-main-content .history1 {
    background: url("../images/history/alex-quezada-i8vUaSDbqmg-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .history2 {
    background: url("../images/history/batuhan-dogan-qJq6JK-tC_U-unsplash.jpg");
    background-size: cover;
    background-position: bottom;
}

.page-main-content .history3 {
    background: url("../images/history/boesijana-sGJ6QSqdK0U-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .history4 {
    background: url("../images/history/febe-vanermen-4WD6VDPHNsk-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .history5 {
    background: url("../images/history/john-lockton-hqz2IuNwiqY-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .history6 {
    background: url("../images/history/michael-martinelli-k03Ih53_MAY-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.page-main-content .history7 {
    background: url("../images/history/mk-s-IeRK8AGdsnQ-unsplash.jpg");
    background-size: cover;
    background-position: center;
}